name: Build dinput8.dll (MSVC 32-bit)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Visual Studio Environment
        shell: cmd
        run: '"C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\VC\Auxiliary\Build\vcvarsall.bat" x86'

      - name: Compile DLL
        shell: cmd
        run: 'cl.exe /EHsc /LD /Fe:dinput8.dll src\main.cpp'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dinput8-dll
          path: dinput8.dll
